apiVersion: wildfly.org/v1alpha1
kind: WildFlyServer
metadata:
  name: eap7-app
spec:
  applicationImage: eap7-app:latest
  #applicationImage: eap7-app-byteman:latest
  replicas: 1
  storage:
    volumeClaimTemplate:
      spec:
        resources:
          requests:
            storage: 1Gi
  env:
    # Env vars to connect to PostgreSQL DB
    - name: POSTGRESQL_DATABASE
      value: sampledb
    - name: POSTGRESQL_USER
      value: admin
    - name: POSTGRESQL_PASSWORD
      value: admin
    - name: POSTGRESQL_DATASOURCE
      value: demo-ds
    - name: POSTGRESQL_SERVICE_HOST
      value: postgresql
    - name: TX_RELEASE_DIRECTORY
      value: /home/jboss
